* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  top: 40px;
  padding: 10px 25px;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  color: white;
  position: fixed;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(37, 37, 37);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

header .navigation ul {
  gap: 15px;
  display: flex;
  align-items: center;
}

header .navigation ul li {
  padding: 5px;
  display: flex;
  color: gray;
  cursor: pointer;
  font-weight: 300;
  font-size: small;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

header .navigation ul li:hover, header .navigation ul li:active, .show ul li:hover, .show ul li:active{
  opacity: 0.6;
  color: white;
}

header .navigation ul li a {
  color: inherit;
  text-decoration: none;
}

#hamburger{
  display: none;
  font-weight: bold;
}

#hamburger button{
  padding: 5px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background: inherit;
}

.hiddingPointer {
  display: none;
}

.showingPointer {
  display: block;
}

.hide {
  display: none;
}

.show {
  right: 0;
  top: 55px;
  color: gray;
  padding: 10px;
  display: block;
  padding-left: 50px;
  position: absolute;
  border-top-right-radius: 20px;
  background-color: rgb(37, 37, 37);
}

.show nav ul li{
  margin: 15px;
}

.show nav ul li a{
  padding: 5px;
  display: flex;
  color: inherit;
  font-size: 25px;
  align-items: center;
  text-decoration: none;
}

section:first-child {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstSectionFirstDiv, .firstSectionSecondDiv {
  width: 50%;
}

.firstSectionFirstDiv {
  padding: 20px;
  height: 400px;
  color: white;
  position: relative;
  border-radius: 10px;
  background-color: red;
}

.firstSectionLD {
  gap: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  color: white;
  font-size: small;
  position: absolute;
  flex-direction: column;
}

.firstSectionLD {
  line-height: 23px;
}

.firstSectionLD div form{
  padding: 5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
}

.firstSectionLD input {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 13px;
}

.firstSectionLD button {
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: black;
}

.firstSectionSecondDiv{
  height: 400px;
}

.firstSectionSecondDiv, .thirdSectionSecondDiv, .fourthSectionSecondDiv{
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
  background-size: cover;
}

.firstSectionSecondDiv img, .thirdSectionSecondDiv img, .fourthSectionSecondDiv img, .fifthSectionSecondDivCard div:first-child img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.secondDivs img:hover, .secondDivs button img:hover{
  transform: scale(1.1);
}

section:nth-child(2) {
  gap: 20px;
  width: 100%;
  display: flex;
  margin: 40px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

section:nth-child(2) h3 {
  width: 80%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

section:nth-child(2) div {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

section:nth-child(2) div div{
  display: flex;
  cursor: pointer;
  padding: 15px 20px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(216, 216, 216);
}

section:nth-child(2) div div:hover, .thirdSectionFirstDiv div p:hover{
  opacity: 0.7;
}

section:nth-child(3) {
  gap: 15px;
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
}

.thirdSectionFirstDiv, .thirdSectionSecondDiv{
  width: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.thirdSectionFirstDiv h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 10px;
}

.thirdSectionFirstDiv p {
  color: gray;
  font-size: small;
  font-weight: bold;
  margin-bottom: 10px;
}

.thirdSectionFirstDiv div{
  gap: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thirdSectionFirstDiv div p{
  width: 100px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: rgb(216, 216, 216);
}

.thirdSectionSecondDiv {
  height: 300px;
}

section:nth-child(4) {
  gap: 15px;
  padding: 20px;
  display: flex;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  background-color: black;
  justify-content: space-evenly;
}

.fourthSectionFirstDiv {
  width: 50%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fourthSectionSecondDiv {
  height: 300px;
}

section:nth-child(4) p{
  margin: 10px 0;
  font-size: small;
  color: rgb(175, 175, 175);
}

section:nth-child(4) button{
  gap: 20px;
  padding: 5px;
  border: none;
  display: flex;
  margin: 5px 0;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(66, 66, 66, 0.411);
}

section:nth-child(4) button img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

section:nth-child(4) button:active{
  opacity: 0.7;
}

section:nth-child(5) {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fifthSectionFirstDiv {
  width: 80%;
  margin-bottom: 20px;
}

.fifthSectionFirstDiv h2 {
  text-align: center;
}

.fifthSectionSecondDiv {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fifthSectionSecondDivCard {
  gap: 7px;
  width: 250px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fifthSectionSecondDivCard div:first-child {
  height: 250px;
  background-size: cover;
}

.fifthSectionSecondDivCard div:last-child h4 {
  line-height: 14px;
  color: rgb(26, 26, 26);
}

.fifthSectionSecondDivCard div:last-child p {
  font-size: small;
  margin-top: 7px;
  text-align: left;
  color: rgb(78, 78, 78);
}

section:nth-child(6) {
  gap: 15px;
  display: flex;
  padding: 20px;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: black;
  justify-content: space-evenly;
}

.sixthSectionFirstDiv, .sixthSectionSecondDiv {
  width: 50%;
}

.sixthSectionFirstDiv h3 {
  margin-bottom: 10px;
}

.sixthSectionFirstDiv p {
  color: gray;
  font-size: small;
  margin-bottom: 10px;
}

.sixthSectionFirstDiv button {
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background-color: orangered;
}

.sixthSectionFirstDiv button:hover, .sixthSectionFirstDiv button:active {
  opacity: 0.7;
}

@media screen and (max-width: 650px) {
  section {
    display: flex;
    flex-direction: column;
  }

  .firstSectionFirstDiv, .firstSectionSecondDiv, .thirdSectionFirstDiv, .thirdSectionSecondDiv, .fourthSectionFirstDiv, .fourthSectionSecondDiv, .sixthSectionFirstDiv, .sixthSectionSecondDiv {
    width: 100%;
  }

  section:nth-child(3)  {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding: 10px;
  }

  section:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  section:nth-child(4) div{
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  body {
    top: 50px;
  }

  header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header #hamburger {
    display: flex;
    font-weight: bold;
  }

  header .navigation{
    display: none;
  }

  section:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  section:nth-child(4) div{
    width: 100%;
  }
}